.title{
    text-align: center;
    color:var(--text-color);
    font-size: 15px;
    font-weight: 600;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 32px;
    color:var(--text-color);
    margin-top: 5px;
    text-transform: uppercase;
}
.title p{
    color:var(--text-color);
    padding: 10px;
}